@use 'src/scss/variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
   margin: 0px;
   margin-top: 0px;
   margin-left: 0px;
   margin-bottom: 0px;
   margin-right: 0px;
   padding: 0px;
   padding-top: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-right: 0px;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;

   color: white !important;
}

html {
   scroll-behavior: smooth;
   font-size: 16px;
   background-color: $black-1;
   -webkit-font-smoothing: antialiased;
}

html,
body,
#root,
section {
   height: max-content;
   width: 100%;
}

body {
   overflow: hidden;
}
